{% extends 'blog_base.html' %}

{% block content %}
    <div class="justify-content-md-center">
        {% for obj in category_list %}
            <div class="card m-5 shadow">
                <div class="card-header">
                    {{ obj.short_name }}
                    <a class="float-right badge badge-pill badge-info" href="{% url 'posts_list' %}?category={{ obj.id }}">Post sobre {{ obj.short_name }}</a>
                </div>
                <div class="card-body">
                    {{ obj.description }}
                </div>

            </div>
        {% empty %}
            <div class="card text-center m-5 shadow">
                <div class="card-body">No categories created yet</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}