<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Django a Fondo</title>
</head>
<body>
<style>
    body {
        font-size: 17px;
        background-color: rgb(235, 235, 235);
    }
</style>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'posts_list' %}">Python a Fondo</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% block nav %}
                {% endblock %}
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}
</div>
<div class="justify-content-center" style="text-align: center">
    <iframe src="https://ghbtns.com/github-btn.html?user=Marcombo&repo=python-a-fondo&type=star&count=true"
            frameborder="0" scrolling="0" width="100" height="20" title="GitHub"></iframe>
</div>
</body>
</html>