{% extends 'blog_base.html' %}

{% block content %}
    <div class="justify-content-md-center">
        {% for obj in post_list %}
            <div class="card m-5 shadow">
                <div class="card-header">
                    {{ obj.title }}
                </div>
                <div class="card-body">
                    {{ obj.body|linebreaks }}

                    <blockquote class="blockquote">
                        <footer class="blockquote-footer">{{ obj.author.get_full_name }} - {{ obj.created_at }}</footer>
                    </blockquote>
                    {% for category in obj.categories.values %}
                        <a class="badge badge-info"
                           href="{% url 'posts_list' %}?category={{ category.id }}">{{ category.short_name }}</a>
                    {% endfor %}
                </div>
            </div>
        {% empty %}
            <div class="card text-center m-5 shadow">
                <div class="card-body">No posts created yet</div>
            </div>
        {% endfor %}
    </div>

    <div>
        <nav>
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% endif %}

                <li class="page-item" style="margin-top: 5px;">&nbsp;{{ page_obj.number }}
                    of {{ page_obj.paginator.num_pages }}&nbsp;</li>

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}

